<h3><%= link_to 'Click here to upload and convert a new image!', new_image_path %></h3>
<br>

<table>
  <thead>
    <tr>
      <th>Original image</th><th width="10"></th>
      <th>Command-line options</th><th width="10"></th>     
      <th>Converted image</th><th width="10"></th>
      <th>Show full size</th><th width="10"></th>
      <th>Delete image</th>
    </tr>
  </thead>
  
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.location, :style => "height:150px" %></td><td width="10"></td> 
        <td><%= image.command %></td><td width="10"></td>         
        <td><%= image_tag "/uploads/pictures/#{image.id}/converted_image.jpg", :style => "height:150px" %></td><td width="10"></td> 
        <td><%= link_to 'Show', image %></td><td width="10"></td>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>