<h1>New image</h1>

<%= simple_form_for @image, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :location, :label => 'Upload a JPG, GIF, or PNG' %>
    <br>
    <%= f.input :command, :label => 'Enter convert options' %>    
  </div>

<br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<br><br>

<h1>Image list</h1>

<table>
  <thead>
    <tr>
      <th>Image ID</th><th></th>
      <th>Original image</th><th></th>
      <th>Converted image</th><th></th>
      <th>Command-line options</th><th></th>
      <th>Show full size</th><th></th>
      <th>Delete image</th>
    </tr>
  </thead>
  
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td><td></td> 
        <td><%= image_tag image.location, :style => "height:150px" %></td><td></td> 
        <td><%= image_tag "/uploads/pictures/#{image.id}/converted_image_from_controller.jpg", :style => "height:150px" %></td><td></td> 
        <td><%= image.command %></td><td></td>      
        <td><%= link_to 'Show', image %></td><td></td> 
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td><td></td> 
      </tr>
    <% end %>
  </tbody>
</table>